* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1, h3 {
  margin: 10px;
  text-align: center;
}
input {
  width: 100%
}
.addr-input {
  width: 510px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 20px;
}
button, input {
  font-size: 1.25rem;
  padding: 0px 10px;
  margin: 0 5px;
}
button.example-button {
  margin: 5px;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 40px 0 20px;
}
.examples {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
main {
  max-width: 600px;
  margin: auto;
}
#ticket-addr {
  word-break: break-all;
  word-wrap: break-word; /* IE */
  white-space: pre-line; /* CSS 3 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
}
.hidden {
  display: none;
}

/* ==== Media Queries ================= */
@media screen and (max-width: 530px) {
  .addr-input {
    width: 95%;
    flex-flow: row wrap;
  }
  input {
    margin: 0 0 5px;
  }
}